<template name="dashboard">
  {{#if currentUser}}
    <div class="page-header">
      <h2>
        Dashboard
      </h2>
    </div>
    <div class="row">
      <div class="col-md-5">
        {{> _dash_stats}}
      </div>
      <div class="col-md-7">
        {{> _dash_trips}}
      </div>
    </div>
  {{/if}}
  {{#unless currentUser}}
    <div class="page-header">
      <h2>Not logged in</h2>
    </div>
    <p>Please log in to access the dashboard</p>
  {{/unless}}
</template>

<template name="_dash_trips">
  <div class="panel panel-default">
    {{> panel_heading title="Trips"}}
    <div class="panel-body">
      <div class="pull-right">
        <button class="btn btn-primary">
          <i class="glyphicon glyphicon-plus"></i> Add a new trip
        </button>
      </div>
    </div>
  </div>
</template>

<template name="_dash_stats">
  <div class="panel panel-default">
    {{> panel_heading title="My stats"}}
    <div class="panel-body">
      TODO
    </div>
  </div>
</template>

