<template name="dashboard">
  <div class="page-header">
    <h2>
      Dashboard
    </h2>
  </div>
  {{#if currentUser}}
    <div class="row">
      <div class="col-md-5">
        {{> _dash_stats}}
      </div>
      <div class="col-md-7">
        <div class="row">
          <div id="team-management" class="col-md-12">
            {{> _team_management }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{> _dash_trips}}
          </div>
        </div>
      </div>
    </div>
    {{> autoformModals}}
  {{/if}}
  {{#unless currentUser}}
    {{> notLoggedIn}}
  {{/unless}}
</template>

<template name="_team_management">
  {{#if managementEnabled}}
    <div class="panel panel-default">
      {{> panel_heading title="Team management"}}
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h3>Received Invitations</h3>
            {{> tabular table=TabularTables.ReceivedInvitations selector=selector class="table table-striped table-hover" }}
          </div>
        </div>
        {{#if currentUser.hasTeam}}
          {{#if currentUser.isCaptain}}
            <div class="row">
              <div class="col-md-12">
                {{> _invite_players }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3>Sent invitations</h3>
                {{> _invitations }}
              </div>
            </div>
            <div class="row">
              <input id="deleteTeamBtn" type="button" class="btn btn-danger" value="Delete team"/>
            </div>
          {{else}}
            <input id="leaveTeamBtn" type="button" class="btn btn-danger" value="Leave team"/>
          {{/if}}
        {{/if}}

        {{#unless currentUser.hasTeam}}
          <h3>Create a team</h3>
          {{#autoForm collection="Teams" id="addTeamForm" type="insert"}}
            <fieldset>
              {{> afFormGroup name="name"}}
            </fieldset>
            <div>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
          {{/autoForm}}
        {{/unless}}
      </div>
    </div>
  {{/if}}
</template>

<template name="_invite_players">
  <form id="invitePlayerForm">
    <select id="invitationselect" name="receiver" class="form-control">
      {{#each users}}
        <option value="{{_id}}">
          {{username}}
        </option>
      {{/each}}
    </select>
    <div>
      <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </div>
  </form>
  <script>
    $('#invitationselect').select2();
  </script>
</template>

<template name="_invitations">
  {{> tabular table=TabularTables.SentInvitations selector=selector class="table table-striped table-hover" }}
</template>

<template name="_dash_trips">
  <div class="panel panel-default">
    {{> panel_heading title="Trips"}}
    <div class="panel-body">
      <div class="pull-right">
        {{#autoForm collection="Trips" id="addTripForm" type="insert"}}
          <fieldset>
            {{> afFormGroup name="date" type="bootstrap-datepicker" id="tripDatePicker" }}
            {{> afFormGroup name="distance" type="text"}}
          </fieldset>
          <button type="submit" class="btn btn-primary pull-right">Add trip</button>
        {{/autoForm}}
      </div>
      {{> tabular table=TabularTables.Trips selector=tripsSelector class="table table-striped table-hover" }}
    </div>
  </div>
</template>

<template name="_dash_stats">
  <div class="panel panel-default">
    {{> panel_heading title="My stats"}}
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
          {{#with currentUser}}
            <tr>
              <td>Username</td>
              <td>{{username}}</td>
            </tr>
            <tr>
              <td>Total distance</td>
              <td>{{distance}}</td>
            </tr>
            <tr>
              <td>Cycling days</td>
              <td>{{cyclingDays}}</td>
            </tr>
            <tr>
              <td>Team</td>
              <td><a href="/team/{{getTeamName}}">{{getTeamName}}</a></td>
            </tr>
          {{/with}}
        </tbody>
      </table>
    </div>
  </div>
</template>

<template name="deleteInvitationButton">
  {{#afModal class="clickable" collection="Invitations" operation="remove" doc=_id}}
    <i class="glyphicon glyphicon-trash"></i>
  {{/afModal}}
</template>

<template name="acceptInvitationButton">
  <a class="clickable acceptInvitation">
    <i id="{{this._id}}" class="glyphicon glyphicon-ok"></i>
  </a>
</template>

<template name="declineInvitationButton">
  {{#afModal class="clickable" collection="Invitations" operation="remove" doc=_id}}
    <i class="glyphicon glyphicon-remove"></i>
  {{/afModal}}
</template>
