<template name="manageaccount">
  <div class="page-header">
    <h2>Manage account</h2>
  </div>
  {{#if currentUser}}
  <div class="row">
    <div class="panel panel-default">
      {{> panel_heading title="Edit profile"}}
      <div class="panel-body">
        {{#autoForm collection="Meteor.users" doc=getCurrentUser id="usersForm" type="update"}}
          <fieldset>
            {{> afQuickField name="username"}}
            <div class="form-group{{#if afFieldIsInvalid name='emails.0.address'}} has-error{{/if}}">
              <label for="email">Email</label>
              {{> afFieldInput name="emails.0.address" id="email"}}
              {{#if afFieldIsInvalid name="emails.0.address"}}
                <span class="help-block">{{afFieldMessage name="emails.0.address"}}</span>
              {{/if}}
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary pull-right">Update</button>
        {{/autoForm}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-danger">
      {{> panel_heading title="Danger zone"}}
      <div class="panel-body text-center">
        <a type="submit" id="deleteAccountBtn" class="btn btn-danger">Delete account</a>
      </div>
    </div>
  </div>
  {{/if}}
  {{#unless currentUser}}
    {{> notLoggedIn}}
  {{/unless}}
</template>
