<template name="panel_heading">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{title}}
    </h3>
  </div>
</template>

<template name="notLoggedIn">
  <div class="alert alert-danger text-center" role="alert">
    <p>This page is only available when logged in</p>
  </div>
</template>

<template name="userStats">
  <div class="panel panel-default">
    {{> panel_heading title="Statistics"}}
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
          {{#with userArg}}
            <tr>
              <td>Username</td>
              <td>{{username}}</td>
            </tr>
            <tr>
              <td>Total distance</td>
              <td>{{distance}}</td>
            </tr>
            <tr>
              <td>Cycling days</td>
              <td>{{cyclingDays}}</td>
            </tr>
            <tr>
              <td>Team</td>
              <td><a href="/team/{{getTeamName}}">{{getTeamName}}</a></td>
            </tr>
          {{/with}}
        </tbody>
      </table>
    </div>
  </div>
</template>
