<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <a class="btn btn-default btn-block" id="login-buttons-edit-profile" href="/manageaccount">Manage account</a>
</template>

<template name="custom_loginButtonsLoggedInDropdownActions">
  {{#if additionalLoggedInDropdownActions}}
    {{> _loginButtonsAdditionalLoggedInDropdownActions}}
  {{/if}}

  {{#unless currentUser.services.google}}
    <button class="btn btn-default btn-block" id="login-buttons-open-change-password">{{i18n 'loginButtonsLoggedInDropdownActions.password'}}</button>
  {{/unless}}

  <button class="btn btn-block btn-primary" id="login-buttons-logout">{{i18n 'loginButtonsLoggedInDropdownActions.signOut'}}</button>
</template>
