<template name="layout">
  <head>
    <title>VCTA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="images/cykel-logo.png"></a>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              {{#if currentUser}}
                <li class="{{isActiveRoute 'dashboard'}}"><a href="/dashboard">Dashboard</a></li>
              {{/if}}
              <li class="{{isActiveRoute 'scoreboard'}}"><a href="/scoreboard">Scoreboard</a></li>
              <li class="{{isActiveRoute 'rules'}}"><a href="/rules">Rules</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a class="dropdown">
                    <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class="glyphicon glyphicon-bell"></i>
                    </a>
                  <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                    <li class="divider"></li>
                    <div class="notifications-wrapper">
                      {{#each notifications}}
                      <p class="content" href="#">
                        <div class="notification-item">
                          <h4 class="item-title">{{timeAgo}}</h4>
                          <p class="item-info">{{message}}</p>
                        </div>
                      </p>
                      {{/each}}
                    </div>
                    <li class="divider"></li>
                  </ul>
                </a>
              </li>
              {{> loginButtons}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="content">
      <button id="addNotification">Test</button>
      <div class="container">
        {{#if dict 'banner.message'}}
          <div class="alert alert-{{ dict 'banner.class' 'info' }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p class="text-center">{{bannerMsg}}</p>
          </div>
        {{/if}}
        {{> yield}}
      </div>
    </div>
    {{> sAlert}}
    <script>
      $(document).on('click.nav','.navbar-collapse.in',function(e) {
        if( $(e.target).is('a') || $(e.target).is('button')) {
          if ($('.navbar-toggle').is(':visible')) {
            $(this).collapse('hide');
          }
        }
      });
    </script>
  </body>
</template>

<template name="loading">
  Loading...
</template>
